.navbar {
  height: 70px;
  padding: 0 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  border-bottom: 1px solid #eee;
}


.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  font-size: 28px;
}

.logo h2 {
  margin: 0;
  color: #2563eb;
  font-size: 24px;
}

.navbar h2 {
  margin: 0;
  color: #2563eb;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.nav-links a:hover {
  color: #2563eb;
}

.nav-links a.active {
  color: #2563eb;
  font-weight: 600;
}


/* Mobile */

@media (max-width: 600px) {

  .navbar {
    padding: 0 5%;
  }

  .nav-links {
    gap: 12px;
  }

  .nav-links a {
    font-size: 13px;
  }

}